<div class="p-8">
  <form [formGroup]="carForm" (ngSubmit)="saveCar()">
    <div class="flex justify-between gap-2">
      <label class="content-center">ID</label>
      <input pInputText formControlName="id" />
    </div>
    <div class="flex justify-between gap-2 py-2">
      <label class="content-center" for="licencePlate">SPZ</label>
      <input pInputText formControlName="licencePlate" id="licencePlate" />
    </div>
    <div class="flex justify-between gap-2 py-2">
      <label class="content-center">Znacka</label>
      <p-dropdown
        [options]="carBrands"
        formControlName="brand"
        [placeholder]="'Vyberte znacku'"
        [checkmark]="true"
      >
      </p-dropdown>
    </div>
    <div class="flex justify-between gap-2 py-2">
      <label class="content-center">Cena</label>
      <p-inputNumber
        formControlName="price"
        inputId="currency-czk"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        [min]="100"
        mode="currency"
        currency="CZK"
        locale="cs-CZ"
      ></p-inputNumber>
    </div>
    <div class="flex justify-between gap-2 py-2">
      <label class="content-center">Datum vydani</label>

      <p-calendar
        formControlName="createdDate"
        [showIcon]="true"
        dateFormat="d.m.yy"
      ></p-calendar>
    </div>
    <div class="flex justify-center gap-4 py-4">
      <button
        type="submit"
        pButton
        label="Ulozit"
        [disabled]="carForm.invalid"
      ></button>
      <button
        type="button"
        pButton
        label="Zavrit"
        (click)="emitClose($event)"
      ></button>
    </div>
  </form>
</div>
